openapi: 3.1.0
info:
  title: DCP Platform API
  version: 5.1.0
  description: |
    DCP is Saudi Arabia's sovereign AI compute platform — built to be used by AI
    agents and software, not only humans. It exposes:

    - **OpenAI-compatible inference** at `https://api.dcp.sa/v1`
      (`POST /v1/chat/completions`, `GET /v1/models`) — a drop-in replacement
      for `api.openai.com`. Set `base_url` and a renter Bearer key; no rewrite.
    - **On-demand GPU rental (pods)** — rent a whole NVIDIA GPU (H200, H100,
      A100, RTX 4090 and more) with root + Jupyter + SSH in about a minute via
      `POST /api/pods`. Billed prepaid per GPU-second in SAR.
    - **Persistent in-Kingdom storage (volumes)** via `POST /api/volumes/rent`.
    - An official **MCP server** (`integrations/dcp-mcp`) exposing all of the
      above as Model Context Protocol tools for agents.

    All compute runs on Saudi-owned hardware inside the Kingdom under full PDPL
    data-residency compliance. Data, models, and storage never leave Saudi
    Arabia unless a tenant explicitly opts in to cross-border frontier models.

    The platform is also a two-sided marketplace: providers register NVIDIA
    GPUs, install the daemon, and earn SAR; renters consume inference, pods, and
    volumes. Money-mutating writes accept an `Idempotency-Key` header so agent
    retries are safe, and return HTTP 402 with a structured payment-required
    body when the prepaid wallet cannot cover a request.

    ## Currency
    All monetary amounts are in **halala** (1 SAR = 100 halala) unless the field
    name ends in `_sar`.

    ## Auth
    Three auth schemes are used depending on the caller role:

    | Role | Scheme | How |
    |------|--------|-----|
    | Provider | `ProviderApiKey` | `?key=` query param or `x-provider-key` header |
    | Renter | `RenterApiKey` | `?key=` query param or `x-renter-key` header |
    | Admin | `AdminToken` | `x-admin-token` header |

    ## Rate Limits
    | Endpoint | Limit |
    |----------|-------|
    | `POST /providers/register` | 5 / IP / hour |
    | `POST /providers/heartbeat` | 4 / IP / minute |
    | `POST /renters/register` | 5 / IP / hour |
    | `POST /jobs/submit` | 10 / renter API key / minute |
    | `POST /payments/topup` | 10 / IP / minute |
    | `GET /api/providers/marketplace` | 30 / IP / minute |
    | `GET /api/admin/*` | 100 / IP / minute |
    | All other `/api/*` | 300 / IP / minute |

  contact:
    name: DCP DevRel
    url: https://dcp.sa/docs
  x-env-vars:
    DC1_ADMIN_TOKEN:
      description: Secret token for admin endpoint auth. Set in PM2 env.
      required: true
    DC1_HMAC_SECRET:
      description: HMAC-SHA256 secret for signing task_spec payloads. Must persist across restarts.
      required: true
    MOYASAR_SECRET_KEY:
      description: Moyasar payment gateway API key (Basic auth). Enables real SAR payments.
      required: false
    MOYASAR_WEBHOOK_SECRET:
      description: HMAC secret for verifying Moyasar webhook signatures. Defaults to MOYASAR_SECRET_KEY.
      required: false
    RESEND_API_KEY:
      description: Resend.com API key for transactional email delivery.
      required: false
    FRONTEND_URL:
      description: Frontend base URL injected into payment callback links. Defaults to https://dcp.sa.
      required: false
    BACKEND_URL:
      description: Backend URL injected into installer scripts. Defaults to https://api.dcp.sa.
      required: false
    CORS_ORIGINS:
      description: Comma-separated extra origins to allow in addition to the hardcoded allowlist.
      required: false

servers:
  - url: https://api.dcp.sa
    description: Production API
  - url: http://localhost:8083
    description: Local development

tags:
  - name: Providers
    description: GPU provider registration, daemon management, and earnings
  - name: Renters
    description: Renter registration, balance, and account management
  - name: Jobs
    description: Job submission, polling, result reporting, and status tracking
  - name: Payments
    description: Moyasar SAR payment initiation, webhook handling, and history
  - name: Admin
    description: Platform administration — providers, renters, jobs, finance, security
  - name: Templates
    description: Docker compute templates — available job types and approved image whitelist
  - name: Containers
    description: Container registry — approved images, custom image requests, security scans
  - name: Adapters
    description: LoRA/QLoRA adapter artifact registry. Metadata only until deployment proof is implemented.
  - name: Batches
    description: Batch inference metadata and status records. Execution/billing worker is intentionally not enabled yet.
  - name: LoRA
    description: LoRA/QLoRA training job metadata. GPU execution remains disabled until trainer-worker proof exists.
  - name: vLLM
    description: Managed vLLM inference — synchronous and streaming completions
  - name: System
    description: Health checks and API info

components:
  securitySchemes:
    ProviderApiKey:
      type: apiKey
      in: query
      name: key
      description: Provider API key. Prefix `dc1-provider-`. Also accepted as `x-provider-key` header.
    RenterApiKey:
      type: apiKey
      in: query
      name: key
      description: "Renter API key. Master keys use prefix `dcp-renter-`; sub-keys (minted via /api/renters/me/keys) use `dc1-sk-`; legacy `dc1-renter-` also accepted. Pass as `?key=`, the `x-renter-key` header, or `Authorization: Bearer <key>`."
    AdminToken:
      type: apiKey
      in: header
      name: x-admin-token
      description: Admin token set via DC1_ADMIN_TOKEN env var. Also accepted as Bearer token.

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: Missing required fields

    Adapter:
      type: object
      description: LoRA/QLoRA adapter artifact metadata owned by one renter. A row does not imply that the adapter is deployed or serving traffic.
      required: [adapter_id, renter_id, name, base_model, storage_key, checksum_sha256, status, created_at, updated_at]
      properties:
        adapter_id:
          type: string
          example: adpt_8f4c2b9a18e34d220f7a9b12
        renter_id:
          type: integer
          example: 42
        name:
          type: string
          example: Arabic support adapter
        base_model:
          type: string
          example: meta-llama/Llama-3.1-8B-Instruct
        storage_key:
          type: string
          description: Relative workspace/object-storage key for the adapter artifact.
          example: adapters/r42/arabic-support/adapter.safetensors
        checksum_sha256:
          type: string
          description: SHA-256 digest of the adapter artifact.
          example: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        rank:
          type: integer
          nullable: true
          example: 16
        metadata:
          type: object
          nullable: true
          additionalProperties: true
          example:
            recipe: qlora-sft
            train_rows: 1200
        status:
          type: string
          enum: [registered, validating, ready, deploying, deployed, failed, archived]
          example: registered
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deployed_at:
          type: string
          format: date-time
          nullable: true

    AdapterDeployment:
      type: object
      description: Adapter deployment lifecycle record. Public creation records intent only; inference traffic stays disabled until a backend serving load proof matches deployment id, adapter id, base model, mode, recorded endpoint id, and adapter artifact checksum.
      required: [deployment_id, renter_id, adapter_id, base_model, mode, status, route_traffic, created_at, updated_at]
      properties:
        deployment_id:
          type: string
          example: adpl_8f4c2b9a18e34d220f7a9b12
        renter_id:
          type: integer
          example: 42
        adapter_id:
          type: string
          example: adpt_8f4c2b9a18e34d220f7a9b12
        base_model:
          type: string
          example: meta-llama/Llama-3.1-8B-Instruct
        mode:
          type: string
          enum: [single_adapter_live_merge, multi_lora]
          example: single_adapter_live_merge
        endpoint_id:
          type: string
          nullable: true
          example: arabic-support-prod
        status:
          type: string
          enum: [pending, provisioning, running, degraded, stopped, failed]
          example: pending
        route_traffic:
          type: boolean
          example: false
        serving_load_proof:
          type: object
          nullable: true
          additionalProperties: true
        failure_reason:
          type: string
          nullable: true
          example: serving_load_proof_mismatch
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        stopped_at:
          type: string
          format: date-time
          nullable: true

    BatchInferenceJob:
      type: object
      description: Batch inference metadata record for validated JSONL input. In this foundation slice, execution remains disabled until the worker/result/billing rail is implemented.
      required: [batch_id, renter_id, status, input_storage_key, input_checksum_sha256, request_count, completion_window, execution_enabled, results_available, created_at, updated_at]
      properties:
        batch_id:
          type: string
          example: batch_8f4c2b9a18e34d220f7a9b12
        renter_id:
          type: integer
          example: 42
        status:
          type: string
          enum: [created, queued, running, completed, failed, cancelled]
          example: created
        input_storage_key:
          type: string
          description: Relative object key reserved for the normalized JSONL input artifact.
          example: batch-inputs/renter-42/batch_8f4c2b9a18e34d220f7a9b12/input.jsonl
        input_checksum_sha256:
          type: string
          description: SHA-256 digest of the normalized JSONL input.
          example: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        input_normalized_bytes:
          type: integer
          example: 264
        request_count:
          type: integer
          example: 2
        completion_window:
          type: string
          enum: [24h]
          example: 24h
        metadata:
          type: object
          nullable: true
          additionalProperties: true
        result_storage_key:
          type: string
          nullable: true
          example: batch-results/renter-42/batch_8f4c2b9a18e34d220f7a9b12/output.jsonl
        result_checksum_sha256:
          type: string
          nullable: true
          description: SHA-256 digest of the normalized result JSONL artifact. Required before results are considered available.
          example: bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
        result_normalized_bytes:
          type: integer
          example: 2048
        completed_count:
          type: integer
          example: 0
        failed_count:
          type: integer
          example: 0
        total_cost_halala:
          type: integer
          example: 0
        idempotency_key:
          type: string
          nullable: true
          example: batch-create-2026-07-08
        execution_enabled:
          type: boolean
          example: false
        results_available:
          type: boolean
          example: false
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true

    BatchInferenceResultManifest:
      type: object
      description: Read-only result artifact manifest for one batch. It exposes proof metadata and can include a short-lived signed download URL when result object-store signing is configured.
      required: [batch_id, renter_id, status, results_available, download_enabled, next]
      properties:
        batch_id:
          type: string
          example: batch_8f4c2b9a18e34d220f7a9b12
        renter_id:
          type: integer
          example: 42
        status:
          type: string
          enum: [created, queued, running, completed, failed, cancelled]
          example: completed
        results_available:
          type: boolean
          description: True only when the batch is completed and has both a result storage key and SHA-256 checksum.
          example: true
        result_storage_key:
          type: string
          nullable: true
          example: batch-results/renter-42/batch_8f4c2b9a18e34d220f7a9b12/output.jsonl
        result_checksum_sha256:
          type: string
          nullable: true
          example: bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
        result_normalized_bytes:
          type: integer
          example: 2048
        completed_count:
          type: integer
          example: 2
        failed_count:
          type: integer
          example: 0
        total_cost_halala:
          type: integer
          example: 18
        download_enabled:
          type: boolean
          example: false
        download_url:
          type: string
          nullable: true
          description: Short-lived object-store download URL. Present only when results are complete, checksum proof exists, the storage key is scoped to the renter/batch, and batch result object-store signing is configured.
        download_method:
          type: string
          nullable: true
          enum: [GET]
          example: GET
        download_expires_in:
          type: integer
          nullable: true
          description: Signed URL lifetime in seconds.
          example: 900
        download_expires_at:
          type: string
          format: date-time
          nullable: true
        download_configured:
          type: boolean
          nullable: true
          description: False when result proof exists but `BATCH_RESULTS_S3_*` object-store signing is not configured.
        next:
          type: string
          example: configure_batch_result_object_store
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true

    BatchInferenceLine:
      type: object
      description: Per-line batch inference ledger row. Raw prompt/request bodies are not returned; callers get custom id, endpoint, model, checksums, lifecycle, usage, cost, provider, and settlement metadata.
      required: [batch_id, renter_id, line_index, custom_id, method, url, model_id, request_checksum_sha256, status, usage, cost_halala, created_at, updated_at]
      properties:
        batch_id:
          type: string
          example: batch_8f4c2b9a18e34d220f7a9b12
        renter_id:
          type: integer
          example: 42
        line_index:
          type: integer
          example: 1
        custom_id:
          type: string
          example: request-1
        method:
          type: string
          enum: [POST]
          example: POST
        url:
          type: string
          enum: [/v1/chat/completions, /v1/complete]
          example: /v1/chat/completions
        model_id:
          type: string
          example: qwen/qwen3-coder
        request_checksum_sha256:
          type: string
          description: SHA-256 digest of the normalized batch request line.
          example: cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc
        status:
          type: string
          enum: [pending, running, succeeded, failed, cancelled]
          example: pending
        status_code:
          type: integer
          nullable: true
          example: 200
        response_checksum_sha256:
          type: string
          nullable: true
          example: dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
        response_normalized_bytes:
          type: integer
          example: 0
        provider_id:
          type: integer
          nullable: true
          description: Provider credited for this line when settlement is enabled.
          example: 42
        usage:
          type: object
          required: [prompt_tokens, completion_tokens, total_tokens]
          properties:
            prompt_tokens:
              type: integer
              example: 0
            completion_tokens:
              type: integer
              example: 0
            total_tokens:
              type: integer
              example: 0
        cost_halala:
          type: integer
          example: 0
        request_id:
          type: string
          nullable: true
          example: batch_8f4c2b9a18e34d220f7a9b12:request-1
        provider_response_id:
          type: string
          nullable: true
        settlement_status:
          type: string
          enum: [unsettled, not_required, settled, already_settled, failed]
          description: Billing settlement state for this line. Production batch settlement remains gated until the worker settlement flag is enabled.
          example: unsettled
        settlement_request_id:
          type: string
          nullable: true
          example: batch-line:batch_8f4c2b9a18e34d220f7a9b12:request-1
        settlement_error_code:
          type: string
          nullable: true
        settlement_error_message:
          type: string
          nullable: true
        settled_at:
          type: string
          format: date-time
          nullable: true
        error_code:
          type: string
          nullable: true
        error_message:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true

    LoraReadiness:
      type: object
      description: Renter-authenticated readiness contract for LoRA/QLoRA fine-tuning, adapter registry, model-card, and adapter deployment gates. This contract is metadata-only and explicitly does not claim public training, serving, quality wins, Tinker compatibility, or discounts.
      required: [object, version, current_mode, dataset_validation, training_jobs, model_cards, adapter_registry, adapter_deployments, tinker_loop, claim_guards]
      properties:
        object:
          type: string
          enum: [lora_readiness]
        version:
          type: string
          example: dcp.lora_readiness.v1
        generated_at:
          type: string
          format: date-time
        current_mode:
          type: string
          enum: [metadata_and_artifact_proof_only]
        endpoints:
          type: object
          additionalProperties:
            type: string
        dataset_validation:
          type: object
          additionalProperties: true
          properties:
            status:
              type: string
              example: available
            available:
              type: boolean
              example: true
            validate_only_endpoint:
              type: string
              example: POST /api/lora/datasets/validate
            supported_formats:
              type: array
              items:
                type: string
                enum: [chat_messages, prompt_completion]
            limits:
              type: object
              additionalProperties: false
              properties:
                max_dataset_bytes:
                  type: integer
                  example: 12582912
                max_dataset_rows:
                  type: integer
                  example: 100000
                default_validation_split_pct:
                  type: number
                  example: 10
        training_jobs:
          type: object
          additionalProperties: true
          properties:
            status:
              type: string
              example: metadata_only
            api_available:
              type: boolean
              example: true
            public_training_enabled:
              type: boolean
              example: false
            worker_execution_enabled:
              type: boolean
              example: false
            gpu_host_proof_required:
              type: boolean
              example: true
        model_cards:
          type: object
          additionalProperties: true
          properties:
            status:
              type: string
              example: metadata_stub
            manifest_version:
              type: string
              example: dcp.lora_model_card_manifest.v1
            model_card_artifact_writer_enabled:
              type: boolean
              example: false
        adapter_registry:
          type: object
          additionalProperties: true
          properties:
            status:
              type: string
              example: metadata_registry
            api_available:
              type: boolean
              example: true
            artifact_policy_version:
              type: string
              example: dcp.adapter_artifact_policy.v1
            artifact_policy_endpoint:
              type: string
              example: GET /api/adapters/artifacts/readiness
            endpoint_smoke_readiness_version:
              type: string
              example: dcp.adapter_endpoint_smoke_readiness.v1
            endpoint_smoke_readiness_endpoint:
              type: string
              example: GET /api/adapters/endpoints/smoke/readiness
            billing_readiness_version:
              type: string
              example: dcp.adapter_billing_readiness.v1
            billing_readiness_endpoint:
              type: string
              example: GET /api/adapters/billing/readiness
            artifact_upload_endpoint_enabled:
              type: boolean
              example: false
            artifact_storage_write_enabled:
              type: boolean
              example: false
            model_card_required:
              type: boolean
              example: true
            serving_enabled:
              type: boolean
              example: false
            route_traffic:
              type: boolean
              example: false
        adapter_deployments:
          type: object
          additionalProperties: true
          properties:
            status:
              type: string
              example: load_proof_required
            api_available:
              type: boolean
              example: true
            serving_enabled:
              type: boolean
              example: false
            route_traffic:
              type: boolean
              example: false
            billing_enabled:
              type: boolean
              example: false
            load_proof_required:
              type: boolean
              example: true
            billing_policy_required:
              type: boolean
              example: true
        tinker_loop:
          type: object
          additionalProperties: true
          description: Disabled Tinker-style local-loop readiness gates. These fields do not claim Tinker API compatibility.
          properties:
            status:
              type: string
              example: contract_only
            available:
              type: boolean
              example: false
            api_available:
              type: boolean
              example: false
            compatibility_claim_allowed:
              type: boolean
              example: false
            tinker_api_compatible:
              type: boolean
              example: false
            primitives:
              type: object
              additionalProperties:
                type: object
                properties:
                  status:
                    type: string
                    example: not_enabled
                  available:
                    type: boolean
                    example: false
                  endpoint:
                    type: string
                    nullable: true
                    example: null
                  mutates_training_state:
                    type: boolean
                    example: false
            safety:
              type: object
              additionalProperties: false
              properties:
                runs_remote_gpu_loop: { type: boolean, example: false }
                creates_training_job: { type: boolean, example: false }
                writes_adapter_weights: { type: boolean, example: false }
                persists_raw_dataset: { type: boolean, example: false }
                exposes_low_level_gradients: { type: boolean, example: false }
                bills_training_steps: { type: boolean, example: false }
                claims_tinker_compatibility: { type: boolean, example: false }
        claim_guards:
          type: object
          additionalProperties: false
          properties:
            public_training_enabled:
              type: boolean
              example: false
            public_serving_enabled:
              type: boolean
              example: false
            route_traffic:
              type: boolean
              example: false
            quality_claims:
              type: boolean
              example: false
            tinker_compatible:
              type: boolean
              example: false
            tinker_style_loop_enabled:
              type: boolean
              example: false
            tinker_low_level_api_enabled:
              type: boolean
              example: false
            discounts_enabled:
              type: boolean
              example: false

    LoraDatasetValidation:
      type: object
      description: Validate-only LoRA/QLoRA SFT dataset contract. The route does not create a training job, persist raw dataset rows, launch GPU work, or register an adapter.
      required: [object, version, limits, validation, training_job_created, training_enabled, raw_dataset_persistence, next]
      properties:
        object:
          type: string
          enum: [lora_dataset_validation]
          example: lora_dataset_validation
        version:
          type: string
          example: dcp.lora_dataset_validation.v1
        limits:
          type: object
          additionalProperties: false
          properties:
            max_dataset_bytes:
              type: integer
              example: 12582912
            max_dataset_rows:
              type: integer
              example: 100000
            default_validation_split_pct:
              type: number
              example: 10
        validation:
          type: object
          additionalProperties: true
          properties:
            format:
              type: string
              enum: [chat_messages, prompt_completion]
              example: prompt_completion
            row_count:
              type: integer
              example: 1200
            train_rows:
              type: integer
              example: 1080
            validation_rows:
              type: integer
              example: 120
            validation_split_pct:
              type: number
              example: 10
            estimated_tokens:
              type: integer
              example: 420000
            max_row_chars:
              type: integer
              example: 900
            checksum_sha256:
              type: string
              example: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            normalized_bytes:
              type: integer
              example: 89000
        training_job_created:
          type: boolean
          example: false
        training_enabled:
          type: boolean
          example: false
        raw_dataset_persistence:
          type: boolean
          example: false
        next:
          type: string
          example: create_lora_training_job_after_dataset_review

    PromptCacheReadiness:
      type: object
      description: Read-only prompt-cache readiness contract for OpenAI-compatible inference. Measurement is available, but cache discounts and provider KV-cache control remain disabled until settlement and provider-hit proof exist.
      required: [object, version, current_mode, status, measurement, billing, live_acceptance, claims, next]
      properties:
        object:
          type: string
          enum: [prompt_cache_readiness]
          example: prompt_cache_readiness
        version:
          type: string
          example: dcp.prompt_cache.v1
        generated_at:
          type: string
          format: date-time
        current_mode:
          type: string
          enum: [measurement_only_no_discount]
        status:
          type: string
          enum: [available_measurement_only]
        endpoints:
          type: object
          additionalProperties:
            type: string
        request_hints:
          type: object
          additionalProperties: true
          properties:
            static_prefix_fields:
              type: array
              items: { type: string }
              example: [static_prefix, prompt_cache.static_prefix]
            session_fields:
              type: array
              items: { type: string }
              example: [prompt_cache.session_id, session_id, user]
            supported_surfaces:
              type: array
              items: { type: string }
              example: [/v1/chat/completions]
        measurement:
          type: object
          additionalProperties: false
          properties:
            hash_only: { type: boolean, example: true }
            stores_raw_prompt: { type: boolean, example: false }
            stores_static_prefix: { type: boolean, example: false }
            tracks_cache_key: { type: boolean, example: true }
            tracks_cached_input_tokens: { type: boolean, example: true }
            prior_hit_detection: { type: boolean, example: true }
            non_streaming_supported: { type: boolean, example: true }
            streaming_supported: { type: boolean, example: true }
        billing:
          type: object
          additionalProperties: false
          properties:
            discounts_enabled: { type: boolean, example: false }
            discount_bps: { type: integer, example: 0 }
            billable_input_tokens_discounted: { type: boolean, example: false }
            settlement_discount_enabled: { type: boolean, example: false }
        response_fields:
          type: array
          items: { type: string }
          example: [usage.prompt_cache, usage.pricing.prompt_cache, usage.pricing.cached_input_tokens, usage.pricing.billable_input_tokens]
        live_acceptance:
          type: object
          additionalProperties: false
          properties:
            provider_discount_smoke:
              type: object
              required: [status, command, live_acceptance_gate, blocked_on, verifies]
              properties:
                status:
                  type: string
                  enum: [blocked_external]
                command:
                  type: string
                  example: DCP_PROMPT_CACHE_LIVE_PROOF_ALLOW=1 npm run proof:prompt-cache-live-settlement
                live_acceptance_gate:
                  type: string
                  example: prompt_cache_provider_discount_smoke
                blocked_on:
                  type: array
                  items: { type: string }
                  example: [funded smoke principal, provider cache-hit evidence, settlement discount policy approval]
                verifies:
                  type: array
                  items: { type: string }
                  example: [live hit metadata, no discount while disabled, settlement discount policy remains disabled]
        claims:
          type: object
          additionalProperties: false
          properties:
            prompt_cache_discount: { type: boolean, example: false }
            provider_kv_cache_control: { type: boolean, example: false }
            tinker_compatible: { type: boolean, example: false }
        next:
          type: string
          example: enable_discount_only_after_provider_cache_hit_and_settlement_proof

    LoraTrainingJob:
      type: object
      description: Managed LoRA/QLoRA SFT training metadata record. Creation validates dataset JSONL and normalizes a fixed recipe, but does not launch GPU training yet.
      required: [training_job_id, renter_id, recipe, base_model, dataset_storage_key, dataset_checksum_sha256, dataset_format, dataset_row_count, output_adapter_name, output_adapter_id, status, training_enabled, adapter_registered, created_at, updated_at]
      properties:
        training_job_id:
          type: string
          example: lora_job_8f4c2b9a18e34d220f7a9b12
        renter_id:
          type: integer
          example: 42
        recipe:
          type: string
          enum: [lora_sft, qlora_sft]
          example: qlora_sft
        base_model:
          type: string
          example: meta-llama/Llama-3.1-8B-Instruct
        dataset_storage_key:
          type: string
          example: datasets/r42/support.jsonl
        dataset_checksum_sha256:
          type: string
          example: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        dataset_format:
          type: string
          enum: [chat_messages, prompt_completion]
          example: prompt_completion
        dataset_row_count:
          type: integer
          example: 1200
        train_rows:
          type: integer
          example: 1080
        validation_rows:
          type: integer
          example: 120
        estimated_tokens:
          type: integer
          example: 420000
        output_adapter_name:
          type: string
          example: support-arabic
        output_adapter_id:
          type: string
          example: adpt_8f4c2b9a18e34d220f7a9b12
        training_spec:
          type: object
          additionalProperties: true
        dataset_validation:
          type: object
          additionalProperties: true
        status:
          type: string
          enum: [created, queued, running, succeeded, failed, cancelled]
          example: created
        artifact_storage_key:
          type: string
          nullable: true
          example: adapters/r42/support-arabic/adapter.safetensors
        artifact_checksum_sha256:
          type: string
          nullable: true
        model_card_storage_key:
          type: string
          nullable: true
        model_card_manifest:
          type: object
          nullable: true
          description: Deterministic metadata-only model-card manifest for LoRA jobs that have a reserved or produced model-card storage key. It does not claim public training, serving, quality wins, or Tinker compatibility.
          additionalProperties: true
          properties:
            object:
              type: string
              example: lora_model_card_manifest
            schema_version:
              type: string
              example: dcp.lora_model_card_manifest.v1
            status:
              type: string
              enum: [reserved, metadata_stub]
              example: metadata_stub
            storage_key:
              type: string
              example: adapters/r42/support-arabic/model-card.json
            claims:
              type: object
              additionalProperties: false
              properties:
                public_training_enabled: { type: boolean, example: false }
                serving_enabled: { type: boolean, example: false }
                route_traffic: { type: boolean, example: false }
                quality_claims: { type: boolean, example: false }
                tinker_compatible: { type: boolean, example: false }
        failure_reason:
          type: string
          nullable: true
        idempotency_key:
          type: string
          nullable: true
        training_enabled:
          type: boolean
          example: false
        adapter_registered:
          type: boolean
          example: false
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true

    LoraTrainingJobLog:
      type: object
      description: Tenant-scoped LoRA training lifecycle log. Logs are metadata only and do not imply that GPU training or adapter serving is enabled.
      required: [id, training_job_id, renter_id, level, event, message, created_at]
      properties:
        id:
          type: integer
          example: 12
        training_job_id:
          type: string
          example: lora_job_8f4c2b9a18e34d220f7a9b12
        renter_id:
          type: integer
          example: 42
        level:
          type: string
          enum: [debug, info, warn, error]
          example: info
        event:
          type: string
          example: status_succeeded
        message:
          type: string
          example: LoRA training worker recorded adapter artifact proof.
        metadata:
          type: object
          nullable: true
          additionalProperties: true
        created_at:
          type: string
          format: date-time

    PaymentRequiredError:
      type: object
      description: Returned with HTTP 402 when account credit cannot cover the pre-flight estimate or when a GPU requires paid credit instead of trial credit. Lets an agent know how and where to add credit before retrying.
      required: [error]
      properties:
        error:
          type: string
          example: insufficient_balance
        code:
          type: string
          description: Stable machine-readable reason. `on_demand_requires_prepaid_credit` means trial/free credit cannot be used for this GPU.
          example: insufficient_balance
        message:
          type: string
          example: Available credit is below the pre-flight estimate for this request. Add credit and retry.
        currency:
          type: string
          example: SAR
        required_halala:
          type: integer
          example: 5000
        balance_halala:
          type: integer
          example: 1200
        paid_credit_required:
          type: boolean
          example: true
        paid_available_halala:
          type: integer
          example: 1000
        paid_available_sar:
          type: number
          example: 10
        minimum_paid_credit_halala:
          type: integer
          description: Minimum paid credit required for this quote when trial/free credit is not eligible.
          example: 1001
        minimum_paid_credit_sar:
          type: number
          example: 10.01
        credit_shortfall_halala:
          type: integer
          description: Additional paid credit needed before retrying this request.
          example: 1
        credit_shortfall_sar:
          type: number
          example: 0.01
        credit_policy:
          type: string
          example: pod_on_demand_paid_credit_v1
        topup_url:
          type: string
          example: https://dcp.sa/renter/wallet

    Pod:
      type: object
      description: An on-demand, whole-GPU rental (dedicated container, in-Kingdom).
      properties:
        id:
          type: string
          example: pod_8fK2x9
        status:
          type: string
          enum: [provisioning, running, stopped, expired]
          example: running
        gpu_type:
          type: string
          example: NVIDIA RTX 4090
        access_url:
          type: string
          description: Jupyter URL over TLS (present once running).
          example: https://pod-8fK2x9.dcp.sa
        ssh_command:
          type: string
          example: ssh root@pod-8fK2x9.dcp.sa -p 32222
        ends_at:
          type: string
          format: date-time
        seconds_remaining:
          type: integer
          example: 3540
        rate_per_minute_halala:
          type: integer
          example: 2

    Volume:
      type: object
      description: An exclusive, in-Kingdom persistent storage volume that mounts at a pod's /workspace.
      properties:
        id:
          type: string
          example: vol_3aQ7
        size_gb:
          type: integer
          example: 20
        used_gb:
          type: number
          example: 4.2
        status:
          type: string
          enum: [active, releasing, released]
          example: active

    Template:
      type: object
      description: A Docker compute template defining how a job type is executed
      properties:
        id:
          type: string
          example: llm-inference-v1
        name:
          type: string
          example: LLM Inference (vLLM)
        description:
          type: string
          example: Run LLM inference jobs using vLLM with OpenAI-compatible API
        image:
          type: string
          example: dc1/llm-worker:latest
        tags:
          type: array
          items:
            type: string
          example: [llm, inference]
        sort_order:
          type: integer
          example: 1
        params_schema:
          type: object
          description: JSON Schema for the job params field
        resource_requirements:
          type: object
          properties:
            min_vram_gb:
              type: integer
              example: 16
            gpu_required:
              type: boolean
              example: true

    Provider:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
          format: email
        gpu_model:
          type: string
          example: RTX 3090
        status:
          type: string
          enum: [registered, connected, online, offline, paused, suspended]
        last_heartbeat:
          type: string
          format: date-time
          nullable: true
        daemon_version:
          type: string
          nullable: true
        run_mode:
          type: string
          enum: [always-on, manual, scheduled]
        uptime_percent:
          type: number
        total_earnings_halala:
          type: integer
        total_jobs:
          type: integer
        gpu_vram_mib:
          type: integer
          nullable: true
        gpu_count_reported:
          type: integer
        gpu_compute_capability:
          type: string
          nullable: true
        gpu_cuda_version:
          type: string
          nullable: true
        is_paused:
          type: boolean
        gpu_usage_cap_pct:
          type: integer
          description: Max GPU utilization cap (0–100)
        vram_reserve_gb:
          type: number
          description: VRAM reserved for OS/other apps (0–16 GB)
        temp_limit_c:
          type: integer
          description: Max GPU temperature limit (50–100°C)

    Renter:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
          format: email
        organization:
          type: string
          nullable: true
        balance_halala:
          type: integer
        total_spent_halala:
          type: integer
        total_jobs:
          type: integer
        created_at:
          type: string
          format: date-time

    Job:
      type: object
      properties:
        id:
          type: integer
        job_id:
          type: string
          description: UUID job identifier
        job_type:
          type: string
          enum: [llm-inference, llm_inference, training, rendering, image_generation, vllm_serve, custom]
        status:
          type: string
          enum: [queued, pending, running, completed, failed, cancelled]
        submitted_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        cost_halala:
          type: integer
          description: Estimated/reserved cost at submit time
        actual_cost_halala:
          type: integer
          nullable: true
          description: Actual cost settled at completion
        provider_earned_halala:
          type: integer
          nullable: true
        dc1_fee_halala:
          type: integer
          nullable: true

    Payment:
      type: object
      properties:
        payment_id:
          type: string
        amount_sar:
          type: number
        amount_halala:
          type: integer
        status:
          type: string
          enum: [initiated, paid, failed, refunded]
        source_type:
          type: string
          enum: [creditcard, mada, applepay, sandbox]
        description:
          type: string
        created_at:
          type: string
          format: date-time
        confirmed_at:
          type: string
          format: date-time
          nullable: true

    PaymentRefundRequest:
      type: object
      properties:
        request_id:
          type: string
          example: rfr_6f2a2f3a8b4c9d0e1f2a3b4c
        payment_id:
          type: string
          example: pay_bt_6f2a2f3a8b4c9d0e1f2a3b4c
        moyasar_id:
          type: string
          nullable: true
        renter_id:
          type: integer
        renter_name:
          type: string
          nullable: true
        renter_email:
          type: string
          format: email
          nullable: true
        amount_halala:
          type: integer
        amount_sar:
          type: number
        reason:
          type: string
          nullable: true
        status:
          type: string
          enum: [pending, processing, approved, rejected]
        requested_at:
          type: string
          format: date-time
        reviewed_at:
          type: string
          format: date-time
          nullable: true
        reviewed_by:
          type: string
          nullable: true
        admin_note:
          type: string
          nullable: true
        moyasar_refund_id:
          type: string
          nullable: true
        payment_amount_sar:
          type: number
          nullable: true
        payment_status:
          type: string
          nullable: true
        payment_created_at:
          type: string
          format: date-time
          nullable: true

paths:

  # ─── GPU Pods (on-demand whole-GPU rental) ───────────────────────────────────

  /api/pods/trial-routing/readiness:
    get:
      tags: [Pods]
      summary: Get GPU pod trial-routing readiness
      description: |
        Returns the read-only policy contract for trial-credit and paid-credit
        routing on GPU pods. The contract explains the current source of truth:
        trial state is represented by credit provenance and paid-funding state,
        trial credit can cover DCP/community capacity, high-demand on-demand
        capacity requires paid credit, and renter-facing surfaces must not expose
        provider id, vendor, or internal supply-tier labels.
      responses:
        '200':
          description: Current trial-credit and high-demand routing policy for GPU pods.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: pod_trial_routing_readiness
                  version:
                    type: string
                    example: dcp.pod_trial_routing_readiness.v1
                  current_mode:
                    type: string
                    example: pod_trial_credit_policy_live
                  account_classification:
                    type: object
                    additionalProperties: true
                  routing_policy:
                    type: object
                    additionalProperties: true
                  claim_guards:
                    type: object
                    additionalProperties: true

  /api/pods:
    post:
      tags: [Pods]
      summary: Rent a whole GPU (create a pod)
      description: |
        Provisions a dedicated, whole-GPU container with root access, Jupyter
        over TLS, and SSH — typically ready in about a minute. The pod lands
        only on a verified, in-Kingdom (Saudi Arabia) machine that just passed
        live Docker + CUDA + GPU-health probes. Billing is prepaid per
        GPU-second in SAR; unused time is refunded on early stop.

        GPU types and indicative hourly prices (USD ≈ at 1 USD ≈ 3.75 SAR):
        NVIDIA H200 (141 GB, 9.19 SAR/hr), H100 (80 GB, 7.09 SAR/hr),
        A100 (40 GB, 4.50 SAR/hr), RTX 4090 (24 GB, 1.00 SAR/hr),
        RTX 4080 (16 GB, 0.67 SAR/hr), RTX 3090 (24 GB, 0.50 SAR/hr),
        RTX 3080 (10 GB, 0.33 SAR/hr).

        Pass an `Idempotency-Key` header to make retries safe.
      security:
        - RenterApiKey: []
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema: { type: string }
          description: Client-generated key; a retried request with the same key returns the original result instead of renting a second pod.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [duration_minutes]
              properties:
                duration_minutes:
                  type: integer
                  minimum: 1
                  example: 60
                  description: How long to rent the GPU for, in minutes.
                gpu_type:
                  type: string
                  example: NVIDIA RTX 4090
                  description: Optional preferred GPU type. If omitted, any available type is used.
                image:
                  type: string
                  example: dcp-compute:cuda
                  description: Optional container image. Defaults to a CUDA + Python + Jupyter base.
      responses:
        '201':
          description: Pod created and provisioning.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Pod' }
        '402':
          description: Insufficient prepaid credit to cover the pre-flight estimate, or paid credit required for an on-demand GPU.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentRequiredError' }
        '409':
          description: Requested GPU type is temporarily out of stock.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: gpu_type_out_of_stock }
                  message: { type: string }
    get:
      tags: [Pods]
      summary: List your pods
      security:
        - RenterApiKey: []
      responses:
        '200':
          description: Your pods.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pods:
                    type: array
                    items: { $ref: '#/components/schemas/Pod' }

  /api/pods/{id}:
    get:
      tags: [Pods]
      summary: Get a pod (access details + remaining time)
      security:
        - RenterApiKey: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Pod details, including access_url and ssh_command once ready.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Pod' }
        '404':
          description: No such pod for this renter.
    delete:
      tags: [Pods]
      summary: Stop a pod early (prorated refund)
      description: Stops the pod immediately. Unused prepaid time is refunded to the wallet in SAR.
      security:
        - RenterApiKey: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Pod stopped; refund applied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: stopped }
                  refunded_halala: { type: integer, example: 1200 }

  /api/pods/{id}/extend:
    post:
      tags: [Pods]
      summary: Extend a running pod without restart
      security:
        - RenterApiKey: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [extend_minutes]
              properties:
                extend_minutes:
                  type: integer
                  minimum: 1
                  example: 30
      responses:
        '200':
          description: Deadline extended.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Pod' }
        '402':
          description: Insufficient account credit to cover the extension.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentRequiredError' }

  # ─── Persistent storage (volumes) ────────────────────────────────────────────

  /api/volumes/rent:
    post:
      tags: [Volumes]
      summary: Rent an exclusive, in-Kingdom persistent volume
      description: |
        Rents a persistent storage volume that mounts at a pod's `/workspace`
        and persists across pods and providers — all inside Saudi Arabia.
        Pass an `Idempotency-Key` header to make retries safe.
      security:
        - RenterApiKey: []
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [size_gb]
              properties:
                size_gb:
                  type: integer
                  enum: [10, 20, 30]
                  example: 20
      responses:
        '201':
          description: Volume rented.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Volume' }
        '402':
          description: Insufficient prepaid credit.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentRequiredError' }

  /api/volumes/me:
    get:
      tags: [Volumes]
      summary: Get your volume (status + usage)
      security:
        - RenterApiKey: []
      responses:
        '200':
          description: Your volume.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Volume' }

  /api/volumes:
    delete:
      tags: [Volumes]
      summary: Release your volume
      security:
        - RenterApiKey: []
      responses:
        '200':
          description: Volume released.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: released }

  /api/batches:
    get:
      tags: [Batches]
      summary: List renter batch inference records
      description: |
        Returns validated batch-inference metadata records for the authenticated
        renter. This foundation route does not execute inference, produce result
        artifacts, apply batch discounts, or flip `/v1/models` batch capability
        flags yet.
      security:
        - RenterApiKey: []
      parameters:
        - in: query
          name: status
          required: false
          schema:
            type: string
            enum: [created, queued, running, completed, failed, cancelled]
        - in: query
          name: limit
          required: false
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
        - in: query
          name: offset
          required: false
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        '200':
          description: Batch record list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object: { type: string, example: list }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/BatchInferenceJob' }
                  count: { type: integer, example: 1 }
                  limit: { type: integer, example: 50 }
                  offset: { type: integer, example: 0 }
    post:
      tags: [Batches]
      summary: Validate JSONL and create a batch inference metadata record
      description: |
        Validates OpenAI-style JSONL lines for `/v1/chat/completions` and
        `/v1/complete`, records checksum/count metadata, and returns a stable
        batch id. Execution remains disabled until the worker/result/billing
        slice lands.
      security:
        - RenterApiKey: []
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema:
            type: string
            maxLength: 180
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [input_jsonl]
              properties:
                batch_id:
                  type: string
                  description: Optional client-stable id. Generated when omitted.
                  example: batch_8f4c2b9a18e34d220f7a9b12
                input_jsonl:
                  type: string
                  description: Newline-delimited JSON batch requests.
                  example: '{"custom_id":"req-1","method":"POST","url":"/v1/chat/completions","body":{"model":"qwen/qwen3-coder","messages":[{"role":"user","content":"hello"}]}}'
                input_storage_key:
                  type: string
                  description: Optional relative object key reserved for the normalized input artifact.
                completion_window:
                  type: string
                  enum: [24h]
                  default: 24h
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Batch metadata record created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  batch: { $ref: '#/components/schemas/BatchInferenceJob' }
                  idempotent_replay:
                    type: boolean
                    example: false
                  execution_enabled:
                    type: boolean
                    example: false
                  next:
                    type: string
                    example: batch_worker_and_result_artifact_not_enabled
        '400':
          description: Invalid batch JSONL or metadata.
        '409':
          description: Batch id already exists.

  /api/batches/readiness:
    get:
      tags: [Batches]
      summary: Get batch inference readiness and gate status
      description: |
        Returns the current batch-inference product gates for the authenticated
        renter. This endpoint is intended for product surfaces and agents that
        need to distinguish validation-only batch metadata from live execution,
        discounts, result-download configuration, and model capability flags.
      security:
        - RenterApiKey: []
      responses:
        '200':
          description: Batch inference readiness contract.
          content:
            application/json:
              schema:
                type: object
                properties:
                  readiness:
                    type: object
                    required: [object, version, current_mode, public_execution_enabled, request_creation_enabled, supported_urls, limits, features, live_acceptance, claims, next]
                    properties:
                      object:
                        type: string
                        example: batch_inference_readiness
                      version:
                        type: string
                        example: dcp.batch_inference_readiness.v1
                      current_mode:
                        type: string
                        example: metadata_validation_only
                      public_execution_enabled:
                        type: boolean
                        example: false
                      request_creation_enabled:
                        type: boolean
                        example: true
                      supported_urls:
                        type: array
                        items: { type: string }
                        example: [/v1/chat/completions, /v1/complete]
                      limits:
                        type: object
                        additionalProperties: true
                      features:
                        type: object
                        additionalProperties: true
                      live_acceptance:
                        type: object
                        additionalProperties: true
                        properties:
                          execution_discount_smoke:
                            type: object
                            required: [status, command, live_acceptance_gate, blocked_on, verifies]
                            properties:
                              status:
                                type: string
                                example: blocked_external
                              command:
                                type: string
                                example: DCP_BATCH_LIVE_PROOF_ALLOW=1 npm run proof:batch-live-execution
                              live_acceptance_gate:
                                type: string
                                example: batch_live_execution_discount_smoke
                              blocked_on:
                                type: array
                                items: { type: string }
                                example: [funded renter key, live provider execution capacity, object-store result path, discount policy approval]
                              verifies:
                                type: array
                                items: { type: string }
                                example: [renter-authenticated readiness, batch create guard, result manifest/download prerequisites, discount remains disabled until approved]
                      claims:
                        type: object
                        additionalProperties: true
                      next:
                        type: string
                        example: connect_worker_to_live_v1_executor_after_gpu_billing_and_result_smoke

  /api/batches/{batch_id}:
    get:
      tags: [Batches]
      summary: Get one renter batch inference record
      security:
        - RenterApiKey: []
      parameters:
        - in: path
          name: batch_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Batch detail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  batch: { $ref: '#/components/schemas/BatchInferenceJob' }
        '404':
          description: Batch not found for this renter.

  /api/batches/{batch_id}/lines:
    get:
      tags: [Batches]
      summary: List one renter batch's per-line ledger rows
      description: |
        Returns per-line batch status and accounting metadata without returning
        raw prompts, messages, or completion bodies. The line ledger is created
        at batch submission time and is the future write target for worker
        execution, usage, and settlement proof.
      security:
        - RenterApiKey: []
      parameters:
        - in: path
          name: batch_id
          required: true
          schema: { type: string }
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Batch line ledger.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum: [list]
                  batch_id:
                    type: string
                  status:
                    type: string
                    enum: [created, queued, running, completed, failed, cancelled]
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/BatchInferenceLine' }
                  count:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '404':
          description: Batch not found for this renter.

  /api/batches/{batch_id}/results:
    get:
      tags: [Batches]
      summary: Get one renter batch result manifest
      description: |
        Returns result artifact metadata for a batch. Results are considered
        available only after the batch is completed with both a result storage
        key and SHA-256 checksum. When `BATCH_RESULTS_S3_BUCKET` plus S3
        endpoint/key/secret configuration is present, the route includes a
        short-lived signed GET URL scoped to the completed result object.
        This route does not enable production batch execution or batch
        discounts by itself.
      security:
        - RenterApiKey: []
      parameters:
        - in: path
          name: batch_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Batch result manifest.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result: { $ref: '#/components/schemas/BatchInferenceResultManifest' }
        '404':
          description: Batch not found for this renter.

  /api/lora/readiness:
    get:
      tags: [LoRA]
      summary: Get LoRA product readiness gates
      description: |
        Returns the claim-safe LoRA/Fine-Tuning readiness contract for the
        authenticated renter. The response describes dataset validation,
        training-job metadata, model-card stubs, adapter registry, and adapter
        deployment load-proof gates without enabling public training, serving,
        routing, quality claims, discounts, or Tinker compatibility.
      security:
        - RenterApiKey: []
      responses:
        '200':
          description: LoRA readiness contract.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoraReadiness'

  /api/lora/datasets/validate:
    post:
      tags: [LoRA]
      summary: Validate LoRA SFT JSONL without creating a training job
      description: |
        Validates chat-message or prompt/completion JSONL and returns row counts,
        train/validation split metadata, estimated tokens, normalized checksum,
        and size facts. This validate-only route does not persist raw dataset
        rows, create a training job, launch GPU training, register an adapter,
        or claim Tinker compatibility.
      security:
        - RenterApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dataset_jsonl]
              properties:
                dataset_jsonl:
                  type: string
                  description: JSONL dataset rows in chat_messages or prompt_completion format.
                validation_split_pct:
                  type: number
                  minimum: 0
                  maximum: 50
                  default: 10
      responses:
        '200':
          description: Dataset validation result. No training job is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoraDatasetValidation'
        '400':
          description: Invalid dataset JSONL. Response includes a stable code and line number when available.

  /api/lora/training-jobs:
    get:
      tags: [LoRA]
      summary: List renter LoRA training job records
      description: |
        Returns LoRA/QLoRA SFT training metadata records for the authenticated
        renter. These records are validated job intents; GPU execution and
        adapter registration are not enabled until trainer-worker proof lands.
      security:
        - RenterApiKey: []
      parameters:
        - in: query
          name: status
          required: false
          schema:
            type: string
            enum: [created, queued, running, succeeded, failed, cancelled]
        - in: query
          name: limit
          required: false
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
        - in: query
          name: offset
          required: false
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        '200':
          description: LoRA training job list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object: { type: string, example: list }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/LoraTrainingJob' }
                  count: { type: integer, example: 1 }
                  limit: { type: integer, example: 50 }
                  offset: { type: integer, example: 0 }
    post:
      tags: [LoRA]
      summary: Validate a dataset and create a LoRA training job record
      description: |
        Validates LoRA SFT JSONL, normalizes a fixed LoRA/QLoRA recipe, and
        records a training job intent. This does not start GPU training, write
        artifacts, or register an adapter.
      security:
        - RenterApiKey: []
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema:
            type: string
            maxLength: 180
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [base_model, dataset_storage_key, dataset_jsonl, output_adapter_name]
              properties:
                training_job_id:
                  type: string
                  description: Optional client-stable id. Generated when omitted.
                  example: lora_job_8f4c2b9a18e34d220f7a9b12
                recipe:
                  type: string
                  enum: [lora_sft, qlora_sft, lora-sft, qlora-sft]
                  default: qlora_sft
                base_model:
                  type: string
                  maxLength: 160
                  example: meta-llama/Llama-3.1-8B-Instruct
                dataset_storage_key:
                  type: string
                  maxLength: 512
                  example: datasets/r42/support.jsonl
                dataset_jsonl:
                  type: string
                  description: JSONL dataset rows in chat_messages or prompt_completion format.
                output_adapter_name:
                  type: string
                  maxLength: 80
                  example: support-arabic
                output_adapter_id:
                  type: string
                  description: Optional reserved adapter id. The adapter is not registered until artifact proof exists.
                  example: adpt_8f4c2b9a18e34d220f7a9b12
                validation_split_pct:
                  type: number
                  minimum: 0
                  maximum: 50
                  default: 10
                hyperparameters:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: LoRA training job metadata record created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  training_job: { $ref: '#/components/schemas/LoraTrainingJob' }
                  idempotent_replay:
                    type: boolean
                    example: false
                  training_enabled:
                    type: boolean
                    example: false
                  next:
                    type: string
                    example: launch_lora_trainer_worker_after_gpu_host_proof
        '400':
          description: Invalid dataset or LoRA training metadata.
        '409':
          description: Training job id already exists.

  /api/lora/training-jobs/{training_job_id}:
    get:
      tags: [LoRA]
      summary: Get one renter LoRA training job record
      security:
        - RenterApiKey: []
      parameters:
        - in: path
          name: training_job_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: LoRA training job detail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  training_job: { $ref: '#/components/schemas/LoraTrainingJob' }
        '404':
          description: LoRA training job not found for this renter.

  /api/lora/training-jobs/{training_job_id}/logs:
    get:
      tags: [LoRA]
      summary: List renter-visible LoRA training job logs
      description: |
        Returns lifecycle metadata logs for one tenant-scoped LoRA training job.
        The log ledger records creation and worker status transitions, but does
        not claim that managed GPU training is enabled.
      security:
        - RenterApiKey: []
      parameters:
        - in: path
          name: training_job_id
          required: true
          schema: { type: string }
        - in: query
          name: limit
          required: false
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
        - in: query
          name: offset
          required: false
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        '200':
          description: LoRA training job logs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/LoraTrainingJobLog' }
                  count:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '404':
          description: LoRA training job not found for this renter.

  /api/lora/training-jobs/{training_job_id}/register-adapter:
    post:
      tags: [LoRA]
      summary: Register an adapter from a succeeded LoRA training artifact
      description: |
        Creates or replays the adapter registry row for a succeeded LoRA/QLoRA
        training job after artifact storage and SHA-256 proof exist. This does
        not deploy the adapter, create an endpoint, or route inference traffic.
      security:
        - RenterApiKey: []
      parameters:
        - in: path
          name: training_job_id
          required: true
          schema: { type: string }
      responses:
        '201':
          description: Adapter metadata registered from the training artifact.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job: { $ref: '#/components/schemas/LoraTrainingJob' }
                  adapter: { $ref: '#/components/schemas/Adapter' }
                  adapter_registered:
                    type: boolean
                    example: true
                  idempotent_replay:
                    type: boolean
                    example: false
                  serving_enabled:
                    type: boolean
                    example: false
                  next:
                    type: string
                    example: create_adapter_deployment_after_vllm_load_proof
        '200':
          description: Existing matching adapter returned for an idempotent replay.
        '404':
          description: LoRA training job not found for this renter.
        '409':
          description: Training job is not succeeded, lacks artifact proof, or conflicts with an existing adapter.

  /api/adapters/artifacts/readiness:
    get:
      tags: [Adapters]
      summary: Get adapter artifact policy readiness
      description: |
        Returns a public, read-only policy contract for future LoRA adapter
        artifacts and model cards. It defines renter/adapter-scoped
        `adapter.safetensors` and `model-card.json` key requirements plus
        checksum guards while artifact uploads, object-store writes, adapter
        serving, route traffic, billing, and Tinker compatibility remain
        disabled.
      responses:
        '200':
          description: Adapter artifact policy readiness.
          content:
            application/json:
              schema:
                type: object
                required: [object, version, current_mode, endpoints, artifact_policy, denial_codes, claim_guards]
                properties:
                  object:
                    type: string
                    enum: [adapter_artifact_policy_readiness]
                  version:
                    type: string
                    example: dcp.adapter_artifact_policy.v1
                  current_mode:
                    type: string
                    enum: [artifact_policy_contract_only]
                  endpoints:
                    type: object
                    additionalProperties:
                      type: string
                  artifact_policy:
                    type: object
                    additionalProperties: true
                    properties:
                      policy_available: { type: boolean, example: true }
                      metadata_registry_available: { type: boolean, example: true }
                      registry_metadata_create_enabled: { type: boolean, example: true }
                      artifact_upload_endpoint_enabled: { type: boolean, example: false }
                      artifact_storage_write_enabled: { type: boolean, example: false }
                      adapter_serving_enabled: { type: boolean, example: false }
                      route_traffic_enabled: { type: boolean, example: false }
                      required_prefix_template: { type: string, example: 'adapters/renter-{renter_id}/{adapter_id}/' }
                      required_artifact_filename: { type: string, example: adapter.safetensors }
                      required_model_card_filename: { type: string, example: model-card.json }
                      checksum_required: { type: boolean, example: true }
                      model_card_required: { type: boolean, example: true }
                      training_artifact_proof_required: { type: boolean, example: true }
                      vllm_load_proof_required: { type: boolean, example: true }
                      adapter_billing_policy_required: { type: boolean, example: true }
                  denial_codes:
                    type: array
                    items: { type: string }
                  claim_guards:
                    type: object
                    additionalProperties: false
                    properties:
                      policy_contract_live: { type: boolean, example: true }
                      metadata_registry_available: { type: boolean, example: true }
                      artifact_upload_endpoint_enabled: { type: boolean, example: false }
                      artifact_storage_write_enabled: { type: boolean, example: false }
                      exposes_object_store_bucket: { type: boolean, example: false }
                      creates_training_job: { type: boolean, example: false }
                      runs_gpu_training: { type: boolean, example: false }
                      writes_adapter_artifact: { type: boolean, example: false }
                      writes_model_card_artifact: { type: boolean, example: false }
                      enables_adapter_serving: { type: boolean, example: false }
                      routes_adapter_traffic: { type: boolean, example: false }
                      bills_training: { type: boolean, example: false }
                      bills_adapter_inference: { type: boolean, example: false }
                      claims_tinker_compatibility: { type: boolean, example: false }

  /api/adapters/endpoints/smoke/readiness:
    get:
      tags: [Adapters]
      summary: Get adapter endpoint smoke readiness
      description: |
        Returns a public, read-only contract for future adapter endpoint smoke
        evidence on dedicated LoRA endpoints. It defines the strict load proof,
        funded smoke principal, deterministic request, response hash, latency,
        token usage, and adapter trace fields required before smoke recording,
        route traffic, usage writes, or adapter billing can be enabled. It does
        not dispatch inference, record smoke results, route adapter traffic,
        mutate balances, create invoices, settle payouts, expose raw prompts or
        responses, or claim Tinker compatibility.
      responses:
        '200':
          description: Adapter endpoint smoke readiness.
          content:
            application/json:
              schema:
                type: object
                required: [object, version, current_mode, endpoints, policy, denial_codes, claim_guards]
                properties:
                  object:
                    type: string
                    enum: [adapter_endpoint_smoke_readiness]
                  version:
                    type: string
                    example: dcp.adapter_endpoint_smoke_readiness.v1
                  current_mode:
                    type: string
                    enum: [endpoint_smoke_contract_only]
                  endpoints:
                    type: object
                    additionalProperties:
                      type: string
                  policy:
                    type: object
                    additionalProperties: true
                    properties:
                      readiness_available: { type: boolean, example: true }
                      disabled_submission_endpoint_available: { type: boolean, example: true }
                      endpoint_smoke_recording_enabled: { type: boolean, example: false }
                      adapter_endpoint_routing_enabled: { type: boolean, example: false }
                      adapter_billing_enabled: { type: boolean, example: false }
                      required_before_smoke:
                        type: array
                        items: { type: string }
                        example: [strict_load_proof_match, funded_smoke_principal, deterministic_smoke_request]
                      required_smoke_fields:
                        type: array
                        items: { type: string }
                        example: [renter_id, deployment_id, adapter_id, endpoint_id, base_model, artifact_checksum_sha256, provider_id, request_id, status_code, latency_ms, response_checksum_sha256, prompt_tokens, completion_tokens, total_tokens, finish_reason, adapter_trace]
                      raw_prompt_storage_enabled: { type: boolean, example: false }
                      raw_response_storage_enabled: { type: boolean, example: false }
                  denial_codes:
                    type: array
                    items: { type: string }
                  claim_guards:
                    type: object
                    additionalProperties: false
                    properties:
                      readiness_contract_live: { type: boolean, example: true }
                      disabled_submission_endpoint_live: { type: boolean, example: true }
                      endpoint_smoke_recording_enabled: { type: boolean, example: false }
                      dispatches_inference: { type: boolean, example: false }
                      records_smoke_result: { type: boolean, example: false }
                      attaches_load_proof: { type: boolean, example: false }
                      routes_adapter_traffic: { type: boolean, example: false }
                      records_usage_event: { type: boolean, example: false }
                      mutates_balance: { type: boolean, example: false }
                      creates_invoice: { type: boolean, example: false }
                      settles_provider_payout: { type: boolean, example: false }
                      exposes_raw_prompt: { type: boolean, example: false }
                      exposes_raw_response: { type: boolean, example: false }
                      enables_adapter_billing: { type: boolean, example: false }
                      claims_tinker_compatibility: { type: boolean, example: false }

  /api/adapters/usage/attribution/readiness:
    get:
      tags: [Adapters]
      summary: Get adapter usage attribution readiness
      description: |
        Returns a public, read-only policy contract for future adapter usage
        ledger attribution on dedicated endpoints. It defines the deployment,
        adapter, endpoint, checksum, provider, request, scoped-key, token,
        cost, and pending-settlement fields required before adapter usage
        writes or adapter billing can be enabled. It does not dispatch
        inference, route adapter traffic, write usage rows, mutate balances,
        create invoices, settle payouts, or claim Tinker compatibility.
      responses:
        '200':
          description: Adapter usage attribution readiness.
          content:
            application/json:
              schema:
                type: object
                required: [object, version, current_mode, endpoints, policy, denial_codes, claim_guards]
                properties:
                  object:
                    type: string
                    enum: [adapter_usage_attribution_readiness]
                  version:
                    type: string
                    example: dcp.adapter_usage_attribution_readiness.v1
                  current_mode:
                    type: string
                    enum: [usage_attribution_contract_only]
                  endpoints:
                    type: object
                    additionalProperties:
                      type: string
                  policy:
                    type: object
                    additionalProperties: true
                    properties:
                      readiness_available: { type: boolean, example: true }
                      adapter_usage_attribution_enabled: { type: boolean, example: false }
                      adapter_usage_ledger_writes_enabled: { type: boolean, example: false }
                      adapter_billing_enabled: { type: boolean, example: false }
                      required_usage_fields:
                        type: array
                        items: { type: string }
                        example: [renter_id, deployment_id, adapter_id, endpoint_id, base_model, artifact_checksum_sha256, provider_id, request_id, renter_api_key_id, renter_key_type, prompt_tokens, completion_tokens, total_tokens, cost_halala, settlement_status]
                  denial_codes:
                    type: array
                    items: { type: string }
                  claim_guards:
                    type: object
                    additionalProperties: false
                    properties:
                      readiness_contract_live: { type: boolean, example: true }
                      adapter_usage_attribution_enabled: { type: boolean, example: false }
                      adapter_usage_ledger_writes_enabled: { type: boolean, example: false }
                      dispatches_inference: { type: boolean, example: false }
                      attaches_load_proof: { type: boolean, example: false }
                      routes_adapter_traffic: { type: boolean, example: false }
                      mutates_balance: { type: boolean, example: false }
                      creates_invoice: { type: boolean, example: false }
                      settles_provider_payout: { type: boolean, example: false }
                      changes_budget_cap: { type: boolean, example: false }
                      exposes_raw_prompt: { type: boolean, example: false }
                      enables_adapter_billing: { type: boolean, example: false }
                      claims_tinker_compatibility: { type: boolean, example: false }

  /api/adapters/billing/approval/readiness:
    get:
      tags: [Adapters]
      summary: Get adapter billing approval readiness
      description: |
        Returns a public, read-only policy contract for future founder approval
        before adapter billing enablement. It defines proof-packet evidence,
        local-roadmap proof, production-smoke proof, evidence hash, approval
        scope, and founder signoff prerequisites while adapter billing, route
        traffic, usage writes, invoices, provider payouts, balance mutations,
        raw prompt/response exposure, and Tinker compatibility remain disabled.
      responses:
        '200':
          description: Adapter billing approval readiness.
          content:
            application/json:
              schema:
                type: object
                required: [object, version, current_mode, endpoints, policy, denial_codes, claim_guards]
                properties:
                  object:
                    type: string
                    enum: [adapter_billing_approval_readiness]
                  version:
                    type: string
                    example: dcp.adapter_billing_approval_readiness.v1
                  current_mode:
                    type: string
                    enum: [approval_policy_contract_only]
                  endpoints:
                    type: object
                    additionalProperties:
                      type: string
                  policy:
                    type: object
                    additionalProperties: true
                    properties:
                      readiness_available: { type: boolean, example: true }
                      founder_billing_approval_required: { type: boolean, example: true }
                      founder_billing_approval_live: { type: boolean, example: false }
                      adapter_billing_enablement_live: { type: boolean, example: false }
                      approval_mutations_enabled: { type: boolean, example: false }
                      required_evidence_before_approval:
                        type: array
                        items: { type: string }
                        example: [strict_load_proof_match, endpoint_smoke_passed, usage_ledger_adapter_attribution, minimum_balance_policy_approved, settlement_split_policy_approved, local_roadmap_proof_passed, production_smoke_passed, evidence_packet_hash]
                      required_approval_fields:
                        type: array
                        items: { type: string }
                        example: [approval_id, approved_by, approved_at, evidence_packet_hash_sha256, scope, expires_at]
                  denial_codes:
                    type: array
                    items: { type: string }
                  claim_guards:
                    type: object
                    additionalProperties: false
                    properties:
                      readiness_contract_live: { type: boolean, example: true }
                      founder_billing_approval_live: { type: boolean, example: false }
                      adapter_billing_enablement_live: { type: boolean, example: false }
                      approval_mutations_enabled: { type: boolean, example: false }
                      dispatches_inference: { type: boolean, example: false }
                      routes_adapter_traffic: { type: boolean, example: false }
                      records_usage_event: { type: boolean, example: false }
                      mutates_balance: { type: boolean, example: false }
                      creates_invoice: { type: boolean, example: false }
                      settles_provider_payout: { type: boolean, example: false }
                      enables_adapter_billing: { type: boolean, example: false }
                      claims_tinker_compatibility: { type: boolean, example: false }

  /api/adapters/settlement/readiness:
    get:
      tags: [Adapters]
      summary: Get adapter settlement readiness
      description: |
        Returns a public, read-only policy contract for future provider/platform
        settlement on billed adapter endpoint traffic. It defines strict
        load-proof, endpoint-smoke, adapter usage-attribution,
        minimum-balance, split-policy, and founder-approval prerequisites while
        settlement mutations, provider payouts, invoices, balance changes,
        route changes, raw prompt/response exposure, and Tinker compatibility
        remain disabled.
      responses:
        '200':
          description: Adapter settlement readiness.
          content:
            application/json:
              schema:
                type: object
                required: [object, version, current_mode, endpoints, policy, denial_codes, claim_guards]
                properties:
                  object:
                    type: string
                    enum: [adapter_settlement_readiness]
                  version:
                    type: string
                    example: dcp.adapter_settlement_readiness.v1
                  current_mode:
                    type: string
                    enum: [settlement_policy_contract_only]
                  endpoints:
                    type: object
                    additionalProperties:
                      type: string
                  policy:
                    type: object
                    additionalProperties: true
                    properties:
                      readiness_available: { type: boolean, example: true }
                      adapter_settlement_enabled: { type: boolean, example: false }
                      provider_payouts_enabled: { type: boolean, example: false }
                      platform_revenue_split_enabled: { type: boolean, example: false }
                      settlement_mutations_enabled: { type: boolean, example: false }
                      required_before_settlement:
                        type: array
                        items: { type: string }
                        example: [strict_load_proof_match, endpoint_smoke_passed, usage_ledger_adapter_attribution, minimum_balance_policy_approved, settlement_split_policy_approved, founder_settlement_approval]
                      required_settlement_fields:
                        type: array
                        items: { type: string }
                        example: [renter_id, deployment_id, adapter_id, endpoint_id, base_model, artifact_checksum_sha256, provider_id, request_id, renter_api_key_id, renter_key_type, prompt_tokens, completion_tokens, total_tokens, cost_halala, provider_share_halala, platform_share_halala, settlement_status]
                  denial_codes:
                    type: array
                    items: { type: string }
                  claim_guards:
                    type: object
                    additionalProperties: false
                    properties:
                      readiness_contract_live: { type: boolean, example: true }
                      adapter_settlement_enabled: { type: boolean, example: false }
                      provider_payouts_enabled: { type: boolean, example: false }
                      platform_revenue_split_enabled: { type: boolean, example: false }
                      dispatches_inference: { type: boolean, example: false }
                      attaches_load_proof: { type: boolean, example: false }
                      routes_adapter_traffic: { type: boolean, example: false }
                      records_usage_event: { type: boolean, example: false }
                      mutates_balance: { type: boolean, example: false }
                      creates_invoice: { type: boolean, example: false }
                      settles_provider_payout: { type: boolean, example: false }
                      changes_budget_cap: { type: boolean, example: false }
                      changes_minimum_balance_enforcement: { type: boolean, example: false }
                      exposes_raw_prompt: { type: boolean, example: false }
                      exposes_raw_response: { type: boolean, example: false }
                      enables_adapter_billing: { type: boolean, example: false }
                      claims_tinker_compatibility: { type: boolean, example: false }

  /api/adapters/billing/readiness:
    get:
      tags: [Adapters]
      summary: Get adapter billing readiness
      description: |
        Returns a public, read-only policy contract for future billed adapter
        inference on dedicated endpoints. It defines the strict load-proof,
        endpoint-smoke, funded-principal, minimum-balance, usage-attribution,
        settlement, and founder-approval prerequisites while adapter billing,
        usage writes, invoices, provider payouts, and route changes remain
        disabled.
      responses:
        '200':
          description: Adapter billing readiness.
          content:
            application/json:
              schema:
                type: object
[...]
